<!-- footer.html -->
<div class="footer-col">
    <p class="feed-subscribe">
        <a href="https://buttondown.email/afonin" class="subscribe-button" title="Subscribe by email" onclick="window.open(
          'https://buttondown.email/api/emails/embed-subscribe/afonin',
          'popupwindow',
          'scrollbars=yes,width=600,height=600'
        ); return false;">
            <svg class="icon-envelope" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M2,6 L22,6 L22,18 L2,18 Z M2,6 L12,13 L22,6" fill="none" stroke="currentColor"
                    stroke-width="2" />
            </svg>
            <span>Subscribe</span>
        </a>
    </p>
</div>

<!-- just once, include Buttondown’s helper script (if you like) -->
<script src="https://buttondown.email/embed.js" async></script>