<footer class="site-footer h-card">
  <!-- make sure your homepage link is an <a>, not a <data> tag -->
  <a class="u-url" href="{{ " /" | relative_url }}" hidden></a>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <!-- FIXED Subscribe button -->

        {% include email-subscribe.html %}
        {% if site.author %}
        <ul class="contact-list">
          {% if site.author.name %}
          <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif %}
          {% if site.author.email %}
          <li>
            <a class="u-email" href="mailto:{{ site.author.email }}">
              {{ site.author.email }}
            </a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </div>


      <div class="footer-col footer-col--right">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
      <a href="https://github.com/{{ site.github.username | default: 'AfoninAndrei' }}" class="social-icon github"
        title="View on GitHub" target="_blank" rel="noopener">
        <svg class="svg-icon" aria-hidden="true">
          <use xlink:href="{{ 'assets/minima-social-icons.svg#github' | relative_url }}"></use>
        </svg>
      </a>
    </div>

  </div>
</footer>