<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const namespace = 'afoninandrei.github.io';
      document.querySelectorAll('[data-key]').forEach(el => {
        const key = el.getAttribute('data-key') || 'home';
        fetch(`https://countapi.mileshilliard.com/api/v1/hit/${namespace}-${key}`)
          .then(r => r.json())
          .then(({ value }) => { el.textContent = value; })
          .catch(err => {
            console.error('View-counter error:', err);
            el.textContent = '⭘';     // graceful fallback
          });
      });
    });
  </script>



  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}


  <!-- MathJax 3 – core + CHTML output -->
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['\\(', '\\)']],
        displayMath: [['\\[', '\\]'], ['$$', '$$']]
      },
      chtml: {
        linebreaks: { automatic: false }
      }
    };
  </script>

  <!-- 2 – THEN load MathJax  -->
  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-chtml.js"></script>


</body>

</html>